<div class = "col-md-2 offset-md-1">
  <h2 class="d-inline-block bg-brown my-5 ml-4">配送先編集</h2>
</div>
  <!--エラー文-->
  <div class = "col-md-8 offset-md-1">
    <%= render "error", obj: @address %>
    <%= render "form", address: @address %>
</div>