<div class="container">
  <div class="row">
    <div class="col-3 text-left mt-3">
      <%= image_tag "logo.png", alt: "LOGO", size: "250x75" %>
     <p class="footer-guide"><i class="fa-solid fa-square-phone" style="color: #d1d1d2; font-size: 40px;"></i><span class="underline-text"> 0123-456-789</span></p>
     <h3>(10:00~18:00受付)</h3>
    </div>
    <div class="col-6 mx-auto mt-3">
      <h3>nagano cake(SNS)</h3>
       <table class="table text-light">
         <tr>
           <th><i class="fa-brands fa-instagram" style="color: #cfcfcf; font-size: 40px;"></i></br>instagram</th>
           <th><i class="fa-brands fa-facebook" style="color: #cfcece; font-size: 40px"></i></br>facebook</th>
           <th><i class="fa-brands fa-x-twitter" style="color: #cdced0; font-size: 40px"></i></br>X(旧Twitter)</th>
           <th><i class="fa-brands fa-line" style="color: #cfcfcf; font-size: 40px"></i></br>LINE</th>
         </tr>
       </table>
        © NaganoCake Co.,Ltd. All Rights Reserved.
    </div>
    <div class="col-3 mt-3">
     <table class="table text-light table-borderless text-left">
       <tr><td><i class="fa-solid fa-play" style="color: #ffffff;"></i>ご利用ガイド</td></tr>
       <tr><td><i class="fa-solid fa-play" style="color: #ffffff;"></i>　よくあるご質問</td></tr>
       <tr><td><i class="fa-solid fa-play" style="color: #ffffff;"></i>　プライバシーポリシー</td></tr>
       <tr><td><i class="fa-solid fa-play" style="color: #ffffff;"></i>　特定商取引法表示</td></tr>
       <tr><td><i class="fa-solid fa-play" style="color: #ffffff;"></i>　お問い合わせ</td></tr>
     </table>
    </div>
  </div>
</div>